@tailwind base;
@tailwind components;
@tailwind utilities;

/* Selection color */
::selection {
  background: rgba(124, 58, 237, 0.3);
  color: white;
}

::-moz-selection {
  background: rgba(124, 58, 237, 0.3);
  color: white;
}
