@tailwind base;
@tailwind components;
@tailwind utilities;

/* Selection color */
::selection {
  background: var(--accent-ring);
  color: white;
}

::-moz-selection {
  background: var(--accent-ring);
  color: white;
}
